<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page</title>
    <script src="//code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>

<style>
    .active {
        display: inline-block;
    }
    
    .pagination {
        color: black;
        width: 980px;
        margin: auto;
        text-align: center;
        padding: 10px 0;
        max-width: 100%;
    }
    
    .active {
        color: red;
    }
    
    .disabled {
        display: none;
    }
</style>

<body>
    <%stds.forEach(function(std1){%>
        <div class="">
            <p>name:
                <%=std1.name%>
                    email:
                    <%=std1.email%>
                        age:
                        <%=std1.age%>
            </p>
        </div>

        <%})%>
            <button><a href="/add/new">click here to add </a></button>

            <% if (pages > 0) { %>
                <ul class="pagination">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                        <% } else { %>
                            <li><a href="/1">First</a></li>
                            <% } %>
                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                    <% if (i !== 1) { %>
                                        <li class="disabled"><a>...</a></li>
                                        <% } %>
                                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                                <% if (i == current) { %>
                                                    <li class="active">
                                                        <a>
                                                            <%= i %>
                                                        </a>
                                                    </li>
                                                    <% } else { %>
                                                        <li>
                                                            <a href="/<%= i %>">
                                                                <%= i %>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                                            <% if (i == Number(current) + 4 && i < pages) { %>
                                                                <li class="disabled"><a>...</a></li>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% if (current == pages) { %>
                                                                            <li class="disabled"><a>Last</a></li>
                                                                            <% } else { %>
                                                                                <li><a href="/<%= pages %>">Last</a></li>
                                                                                <% } %>
                </ul>
                <% } %>
                    </div>
</body>

</html>